<div class="w-96">
  <form [formGroup]="formGroup" class="flex flex-col">
    <mat-form-field>
      <mat-label>Firstname</mat-label>
      <input formControlName="firstname" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Lastname</mat-label>
      <input formControlName="lastname" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>How many Holidays do you usually have per year?</mat-label>
      <input formControlName="holidaysPerYear" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Birthday</mat-label>
      <input formControlName="birthday" [matDatepicker]="datepicker" matInput />
      <mat-datepicker-toggle
        matSuffix
        [for]="datepicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox formControlName="terms"
      >I agree to the terms and conditions</mat-checkbox
    >

    {{ formGroup.value | json }}
    <div class="flex justify-center gap-8 mt-4">
      <button type="reset" mat-raised-button>Reset</button>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>
  </form>
</div>
